.grid-container{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 3fr;
    grid-template-columns:1fr 3fr ;
    grid-template-areas:"header header" 
                        "aside liste-film";
}
header{
    border: 1px solid red;
    grid-area: header;

}
aside{
    border: 1px solid red;
    grid-area: aside;
}
.liste-film{
    border: 1px solid red;
    grid-area: liste-film;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
}